BasedOnStyle: LLVM

UseTab: Always
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4

BreakBeforeBraces: Attach

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly

NamespaceIndentation: None

PointerAlignment: Left
ReferenceAlignment: Left

SortIncludes: true

ColumnLimit: 100

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: false
SpaceInEmptyParentheses: false

BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4

IndentCaseLabels: true
IndentGotoLabels: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1