---
BasedOnStyle: LLVM

UseTab: Always
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4

BreakBeforeBraces: Attach

Cpp11BracedListStyle: true
BinPackArguments: false

AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: true

AlignAfterOpenBracket: DontAlign

ColumnLimit: 100
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: true

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly

NamespaceIndentation: All
IndentCaseLabels: true
MaxEmptyLinesToKeep: 1
